
{% extends 'base.html' %}

{% block title %} Nsikan Adaowo {% endblock %}

{% block content %}

{% load static %}

<div class="main-panel">
    <!-- Hero section -->
    <section id="hero">
<!--        Try using data-src instead of data-image-src-->
        <div class="hero-section" data-parallax="scroll"
             data-image-src="{% static 'image now displayed in css as this on had issues with
             displaying on mobile' %}">
            <div class="overlay-bg overlay"></div>
            <div class="container">
                <div class="row fullscreen">
                    <div class="hero-content col-lg-12">
                        <div class="col-md-12">
                            <h3>Hi there,</h3>
                            <h1>My name is <br>
                                Nsikan Patrick Adaowo</h1>
                            <p> I am a Software engineer with a keen interest in bringing amazing ideas to life, and building innovative solutions that shape the world.<br />
                                I'm deeply invested in crafting intuitive and visually appealing web applications that provide seamless user experiences.</p>
                            <a href="#portfolio" class="btn cta" type="button">Portfolio</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End of hero section -->

    <!--	Start about section-->
    <section id="about" class="section-gap">
        <div class="about container">
            <div class="col-left">
                <div class="about-img">
                    <img src="{% static 'images/Me2.jpg' %}">
                </div>
            </div>
            <div class="col-right">
                <h1 class="section-title">About <span>Me</span></h1>
                <h2>Software Engineer</h2>
                <p>I am a Software engineer with a keen interest in bringing amazing ideas to life, and building innovative solutions that shape the world.
                    I'm deeply invested in crafting intuitive and visually appealing web applications that provide seamless user experiences.
                    With a strong background in computer science and a keen eye for design, I have the skills and experience necessary to turn complex project requirements into functional, high-quality digital products.
                    I am skilled in a variety of programming languages and frameworks, and I'm comfortable working with both front-end and back-end development.
                    I have worked on a variety of projects, ranging from small business websites to large custom web applications.
                    With over 4 years of proven industry experience, having me in your team will be a step in the right direction and I can't wait to amaze you.
                    Outside of work, I enjoy staying up-to-date with the latest trends and techniques in web development and software engineering, and I'm always looking forward to new challenges and opportunities to grow my skillset. I am also a strong believer
                     in the power of collaboration, and enjoy working with a team to create innovative and impactful projects.</p>
                    <!-- The ?v... on the url is a cache bursting technique. If you
                    cache issues again on the download, you can just change any of the
                    numbers here and it will allow you download the exact file -->
                    <!-- Activate the resume link on line 61 when the resume is ready -->
                     <a href="{% url 'resume' %}?v=1234567894" class="btn cta">Download resume</a>
            </div>
        </div>
    </section>
    <!-- End About Area -->

    <!--Services area-->
    <section id="services">

        <div class="features">
            <h1 class="section-title">Services <span>Rendered</span></h1>
            <div class="container">
                <div class="row feature-items">
                    <div class="services-intro text-justify">
                        <p>For the past 4+ years, web development and software engineering has been my bread and butter.
                            Within those years, I've discovered how well I can apply my skills in helping startups and
                            companies scale their businesses and generate more leads. Below are some of the
                            ways I can achieve that:
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="feature">
                            <i class="fa fa-desktop fa-2x"></i>
                            <h4>Web Design</h4>
                            <p class="text-justify">Design is the core of my work, and I believe in the power of brand. I bring ideas
                                to life by designing experiences that communicate visually inspiring stories
                                guaranteed to produce results. I do this by deploying creative methodologies in
                                producing designs tailored to meet your user's needs. </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="feature">
                            <i class="fa fa-shopping-cart fa-2x"></i>
                                <h4>E-commerce Development</h4>
                            <p class="text-justify">Selling products online is now more competitive and intense than ever before. Sellers now spend huge budgets on ads every year. This is where I come in. I will help you design sales-driven e-commerce platforms that resonate 
                                with your audience and command sales without spending a dollar on ads. </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="feature">
                            <i class="fa fa-file-code-o fa-2x"></i>
                            <h4>Back-end Development</h4>
                            <p class="text-justify">I specialize in crafting secure APIs and backend systems that seamlessly integrate with other systems and services. Whether it involves architecting a new API or seamlessly integrating with pre-existing systems, 
                                I am committed to delivering reliable and effective solutions you’ll be proud of.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="feature">
                            <i class="fa fa-code fa-2x"></i>
                            <!--						<i class="fi flaticon-beach"></i>-->
                            <h4>Full-stack Development</h4>
                            <p class="text-justify">I enjoy the challenge of building robust web applications that can handle high volumes of traffic and transactions.
                                If you're looking for a developer with a passion for building innovative and user-friendly applications, let's work together to bring your amazing ideas to life.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#263a4e" fill-opacity="1"
              d="M0,0L48,26.7C96,53,192,107,288,112C384,117,480,75,576,53.3C672,32,768,32,864,32C960,32,1056,32,1152,48C1248,64,1344,96,1392,112L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
    </svg>
    <!--end of services section-->

    <!-- Start portfolio Area -->
    <section id="portfolio" class="section-gap">
        <div class="portfolio-area">
            <h1 class="section-title">Recent <span>Projects</span></h1>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about-left portfolio-stack">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'images/goldenmuv.png' alt='goldenmuv website image' %}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-center">Goldenmuv Company Website</h5>
                                <p class="card-text">Goldenmuv is a premium consulting agency that provides 
                                    excellent and cutting-edge professional services and business solutions 
                                    that help organizations improve performance, maximize growth and profitability 
                                    whilst adhering to the corporate statement of the organization.</p>
                                <div class="text-center"><a href="https://goldenmuv.com/" class="btn my-btn" target="_blank">Visit Project</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about-left portfolio-stack">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'images/gtrack-dashboard.png' alt='gtrack app dashboard image' %}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-center">G-track App</h5>
                                <p class="card-text">G-Track is a dynamic web application designed to help micro-financial 
                                    institutions keep track of debtors, debts, payments, etc. in a secure, seamless and efficient manner. 
                                    The project has support for system automation, Role Based Accessibility (RBA), 
                                    Reminders, and seamless integration into other web applications. The project was designed with Python
                                    Django, PostgreSQL and Jinja2 templating.</p>
                                <div class="text-center"><a href="https://gtrack.onrender.com/" class="btn my-btn" target="_blank">Visit Project</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about-left portfolio-stack">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'images/Sunpol Interface.PNG' alt='Sunpol Universal project image' %}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-center">Sunpol Universal</h5>
                                <p class="card-text">SUNPOL UNIVERSAL CONTRACTS LIMITED is a leading player in Nigeria’s 
                                    agriculture commodity export industry, dedicated to sourcing, processing, and 
                                    exporting high-quality agricultural products to international markets. With a 
                                    commitment to excellence and sustainable practices, Sunpol Universal aims to contribute to the 
                                    growth of Nigeria’s agricultural sector and promote the nation’s produce on a global 
                                    scale.</p>
                                <div class="text-center"><a href="https://sunpoluniversal.com/" class="btn my-btn" target="_blank">Visit Project</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about-left portfolio-stack">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'images/my portfolio.png' alt='Nsikan Adaowo portfolio website image' %}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-center">My Portfolio Website</h5>
                                <p class="card-text">Nsikan Adaowo a full stack developer with a keen interested in 
                                    bringing amazing ideas to life, and facilitating the ease of accessibility of digital 
                                    contents. he has a passion for creating intuitive and visually appealing websites and 
                                    applications that provide seamless user experiences. The project was designed with Python
                                    Django and Jinja2 templating.</p>
                                <div class="text-center"><a href="https://nsikanadaowo.onrender.com/" class="btn my-btn" target="_blank">Visit Project</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about-left portfolio-stack">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'images/easybank.png' alt='easybank project image' %}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-center">Easy Bank</h5>
                                <p class="card-text">Take your financial life online. Your Easybank account will be a one-stop-shop 
                                    for spending, saving, budgeting, investing, and much more. The task here was to build a landing page
                                for a mobile banking app. The project was developed with plain HTML, CSS, and JavaScript.</p>
                                <div class="text-center"><a href="https://nsikanpatrick.github.io/easybank" class="btn my-btn" target="_blank">Visit Project</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about-left portfolio-stack">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'images/Fyyur.png' alt='fyyur project image' %}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-center">Fyyur Project</h5>
                                <p class="card-text">Fyyur is a musical venue and artist booking application that facilitates 
                                    the discovery and bookings of shows between local performing artists and 
                                    venues. This application lets you list new artists and venues, discover them, and 
                                    list shows with artists as a venue owner. The project was designed with Python
                                Flask and PostgreSQL on the backend and HTML, CSS and JAVASCRIPT on the frontend.</p>
                                <div class="text-center"><a href="https://github.com/NsikanPatrick/fyyur_project" class="btn my-btn" target="_blank">Visit Project</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->

        </div>
    </section>
    <!-- End portfolio Area -->

    <!--    Site features area-->

    <section id="site-features-area">

        <div class="site-features-area">
            <h1 class="section-title site-feature-item-title">I build projects <span>That are:</span></h1>
            <div class="container">
                <div class="row feature-items">
                    <!-- <div class="services-intro text-justify">
                        <p>For the past 4+ years, web development and software engineering has been my bread and butter.
                            Within those years, i've discovered how I can apply my skills in helping startups and
                            companies scale their businesses and generate more leads. Hence; i've
                            streamlined the services I render to the following:
                        </p>
                    </div> -->
                    <div class="col-lg-4 col-md-6">
                        <div class="feature">
                            <i class="fa fa-mobile fa-2x"></i>
                            <h4>Mobile responsive</h4>
                                <p class="text-justify">Every project I build are 
                                    mobile-friendly and properly optimized for search engines. I prioritize 
                                    aesthetics and performance in the design process and I'm 
                                    always committed to exceeding your expectations. I ensure that
                                    every product delivered is pixel-perfect, hence 
                                    giving your users the best experience possible. My commitment
                                    is to ensure that your project makes an impact and connects 
                                    with the people that matter to you.
                                </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature">
                            <i class="fa fa-rocket fa-2x"></i>
                            <h4>Fast loading</h4>
                            <p class="text-justify">First impressions make all the difference. 
                                With fast-loading, SEO-friendly and mobile-ready applications, 
                                you can be sure of giving your clients that professional touch 
                                that will keep them glued to your brand. I make use of the 
                                fastest and cleanest code available for lightning fast loading
                                speeds, and advanced web technologies to optimize for efficiency, without compromising its style 
                                or function.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature">
                            <i class="fa fa-shield fa-2x"></i>
                            <h4>Safe and secure</h4>
                                <p class="text-justify">I build projects using the latest technology
                                    to ensure it’s safe, secure, and easy for you to manage. I build
                                    state-of-the-art products with security in mind. This will 
                                    guarantee the confidence of clients in your brand. 
                                    I provide high-quality
                                    web solutions that will grow your business and ensure you 
                                    reach your business goals within the shortest time possible.
                                </p>
                        </div>
                    </div>
                    
                </div>
            </div>
    </section>

    <section id="site-features-area">
        

            <!-- <div class="container">
                <div class="row align-items-center justify-content-center features-box">
                    <div class="col-lg-6 col-md-12 why_us_image about-left">
                        <img class="img-fluid" src="{% static 'images/about-main.jpg' alt='' %}">
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 about-right">
                        <div class="section-title text-left">
                            <h1 class="text-center">I Build Projects That Are:</h1>
                        </div>
                        <div class="features-content">
                            <div class="site-features">

                            <div class="site-feature-item"><i class="fa fa-mobile fa-4x"> </i>
                                <h4>Mobile responsive</h4>
                                <p class="text-justify">Every website developed by me is 
                                    mobile-friendly and optimizedfor search engines. I prioritize 
                                    aesthetics and performance in the design process and i'm 
                                    always committed to exceeding your expectations. I ensure that
                                    every product delivered is pixel-perfect forevery screen, 
                                    giving your users the best experience possible. My commitment
                                    is to ensure that your website makes an impact and connects 
                                    with the people that matter to you.
                                </p>
                            </div>
                            <div class="site-feature-item"><i class="fa fa-rocket fa-3x"> </i>
                                <h4>Fast loading</h4>
                                <p class="text-justify">First impressions make all the difference. 
                                    With fast-loading, SEO-friendly and mobile-ready websites, 
                                    you can be sure of giving your clients that professional touch 
                                    that will keep them glued to your brand.I make use of the 
                                    fastest and cleanest code available for lightning fast loading
                                    speeds and advanced web technologies to optimize every part of 
                                    the product for efficiency, without compromising the style 
                                    or function.
                                </p>
                            </div>
                            <div class="site-feature-item"><i class="fa fa-shield fa-3x"> </i>
                                <h4>Safe and secure</h4>
                                <p class="text-justify">I build websites using the latest technology
                                    to ensure it’s safe, secure, and easy for you to manage. I build
                                    state-of-the-art products with security in mind. This will 
                                    guarantee the confidence of your clients in your brand. 
                                    My services provide high-quality
                                    web solutions that will grow your business and ensure you 
                                    reach your business goals within the shortest possible time.
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="site-features-btn">
                        <a href="#contacts" class="btn cta">Hire Me</a>
                            </div>
                    </div>
                </div>
            </div> -->

        </div>
    </section>
    <svg class="wave-top" viewBox="0 0 1439 147" version="1.1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-1.000000, -14.000000)" fill-rule="nonzero">
                <g class="wave" fill="#f3f3f3">
                    <path
                            d="M1440,84 C1383.555,64.3 1342.555,51.3 1317,45 C1259.5,30.824 1206.707,25.526 1169,22 C1129.711,18.326 1044.426,18.475 980,22 C954.25,23.409 922.25,26.742 884,32 C845.122,37.787 818.455,42.121 804,45 C776.833,50.41 728.136,61.77 713,65 C660.023,76.309 621.544,87.729 584,94 C517.525,105.104 484.525,106.438 429,108 C379.49,106.484 342.823,104.484 319,102 C278.571,97.783 231.737,88.736 205,84 C154.629,75.076 86.296,57.743 0,32 L0,0 L1440,0 L1440,84 Z"
                    ></path>
                </g>
                <g transform="translate(1.000000, 15.000000)" fill="#263a4e">
                    <g transform="translate(719.500000, 68.500000) rotate(-180.000000) translate(-719.500000, -68.500000) ">
                        <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
                              opacity="0.100000001"></path>
                        <path
                                d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
                                opacity="0.100000001"
                        ></path>
                        <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
                              opacity="0.200000003"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>

    <!--    End of site features area-->

    <!--    Contacts section -->
    <section id="contacts">
        <div class="contacts container">
            <div>
                <h1 class="section-title">Get In Touch </h1>
            </div>
            <div class="contacts-body">

                <div class="contact">
                    <div class="icon"><i class="fa fa-map-marker fa-fw"></i></div>
                    <div class="contact-info">
                        <h2>Nigeria/Remote</h2>
                    </div>
                </div>
                <div class="contact">
                    <div class="icon"><i class="fa fa-phone fa-fw"></i></div>
                    <div class="contact-info">
                        <h2>+234 (706) 907 9051</h2>
                    </div>
                </div>
                <div class="contact">
                    <div class="icon"><i class="fa fa-envelope-o fa-fw"></i></div>
                    <div class="contact-info">
                        <h2><a href="mailto:nsikanpatrick69@gmail.com">nsikanpatrick69@gmail.com</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--    End of contacts  section-->

    <!--    Footer section-->
    <section id="footer">
        <div class="footer container">
            <div class="brand"><h1>Lets connect</h1></div>
            <div class="social-icons">
                <div class="social-item">
                    <a href="https://www.linkedin.com/in/nsikanadaowo" target="_blank"><i
                            class="fa fa-linkedin fa-fw"></i></a>
                </div>
                <div class="social-item">
                    <a href="https://twitter.com/nsikanadaowo" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
                </div>
                
                <div class="social-item">
                    <a href="https://github.com/NsikanPatrick" target="_blank"><i class="fa fa-github fa-fw"></i></a>
                </div>
                <div class="social-item">
                    <a href="https://www.instagram.com/nsikanadaowo/?hl=en" target="_blank"><i
                            class="fa fa-instagram fa-fw"></i></a>
                </div>
            </div>
            <p>Copyright &copy; <span><script>document.write(new Date().getFullYear())</script>
                </span> . All rights reserved
            </p>
        </div>
    </section>
    <!--    End of footer section-->
</div>


{% endblock %}