<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Author Meta -->
    <meta name="author" content="Nsikan_Adaowo">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Nsikan Adaowo</title>
    <script src="https://use.fontawesome.com/b31b4493ac.js"></script>
</head>
<body>
<nav class="navigation">
    <div class="nav-content">
        <div class="logo-box"><a href="#hero">Nsikan Adaowo</a></div>
        <ul class="menu-items">
            <li><a href="#hero">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#goals">Goals</a></li>
            <li><a href="#contacts">Contact</a></li>
        </ul>
    </div>
</nav>
<div class="main-panel">

    <!--    Hero section -->
    <section id="hero">
        <div class="hero container">
            <div class="hero-content">
                <h4>Hello, My name is</h4>
                <h1>Nsikan Adaowo </h1>
                <h1>I am web developer </h1>
                <p id="message">I love building things that help people gain access to information<br /> through
                the internet. I also love simplifying complex systems<br /> and make them friendly
                    and accessible to all.</p>
                <a href="#goals" class="cta" type="button">Goals</a>
            </div>
        </div>
    </section>
    <!--    End of hero section-->

    <!--    About section-->

    <section id="about">
        <div class="about container">
            <div class="col-right">
                <h1 class="section-title">About <span>Me</span></h1>
                <h2>Fullstack web developer</h2>
                <p>My name is Nsikan Patrick Adaowo and i'm passionate about building things that make people's lives
                easier and better. I started my journey into web development and programming way back in 2014 while
                    still in the University. Ever since then, i've worked with several startups and businesses
                to help build experiences that translate to leads; and i've done that passionately.
                I am currently doing this as a freelancer and i'm also open for new positions in the web development
                industry.
                When i'm not working, i love listening to music, surf the internet and learn to play the guitar.</p>
                <a href="#" class="cta">Download resume</a>
            </div>
        </div>
    </section>

    <!--    End of about section-->

 <!--    goals section -->
    <section id="goals">
        <div class="goals container">
            <div class="goals-heading">
                <h1 class="section-title">goals</h1>
            </div>
            <div class="goals-body">
                <div class="goal">
                    <div class="goal-icon"><i class="fa fa-diamond fa-fw"> </i></div>
                    <div class="goal-text">
                        <h2>Mastering Technical Skills</h2>
                        <p>To gain and master the different technologies needed to build robust, scalable and responsive full-stack web applications that meets industry standards and today's user requirements.</p>
                    </div>
                </div>
                <div class="goal">
                    <div class="goal-icon"><i class="fa fa-handshake-o fa-fw"> </i></div>
                    <div class="goal-text">
                        <h2>Perfecting Interpersonal Skills</h2>
                        <p>To learn how to connect and build trust with people virtually. To hone my skills on how to communicate with other tech-enthusisasts in simple but clear terms.</p>
                    </div>
                </div>
                <div class="goal">
                    <div class="goal-icon"><i class="fa fa-globe fa-fw"> </i></div>
                    <div class="goal-text">
                        <h2>Building new connections</h2>
                        <p>To build new connections with people, both mentors and other like-minded students. Also to build a network of "would be" founders and technical specialists.</p>
                    </div>
                </div>
                <div class="goal">
                    <div class="goal-icon"><i class="fa fa-code fa-fw"> </i></div>
                    <div class="goal-text">
                        <h2>Better opportunities</h2>
                        <p>To have access to information that can expose me to better opportunities in the tech industry. To be better prepared for opportunities that may come my way during or after the intenship programme.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--    End of goals section-->
   <!--    Contacts section -->
    <section id="contacts">
        <div class="contacts container">
            <div>
                <h1 class="section-title">Contact</h1>
            </div>
            <div class="contacts-body">

                <div class="contact">
                    <div class="icon"><i class="fa fa-map-marker fa-fw"></i></div>
                    <div class="contact-info">
                        <h2>Nigeria/Remote</h2>
                    </div>
                </div>
                <div class="contact">
                    <div class="icon"><i class="fa fa-phone fa-fw"></i></div>
                    <div class="contact-info">
                        <h2>+234-9054599187</h2>
                    </div>
                </div>
                <div class="contact">
                    <div class="icon"><i class="fa fa-envelope-o fa-fw"></i></div>
                    <div class="contact-info">
                        <h2><a href="mailto:nsikanpatrick69@gmail.com">nsikanpatrick69@gmail.com</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--    End of contacts  section-->
  <!--    Footer section-->
    <section id="footer">
        <div class="footer container">
            <div class="brand"><h1>Get in touch</h1></div>
            <div class="social-icons">

                <div class="social-item">
                    <a href="https://twitter.com/nsikanadaowo" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
                </div>
                <div class="social-item">
                    <a href="https://www.linkedin.com/in/nsikan-adaowo-8b7663127/" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                </div>
                <div class="social-item">
                    <a href="https://github.com/NsikanPatrick" target="_blank"><i class="fa fa-github fa-fw"></i></a>
                </div>
                <div class="social-item">
                    <a href="https://www.instagram.com/nsikanadaowo/?hl=en" target="_blank"><i class="fa fa-instagram fa-fw"></i></a>
                </div>
            </div>
            <p>Copyright &copy; <span><script>document.write(new Date().getFullYear())</script>
                </span> . All rights reserved
            </p>
        </div>
    </section>
    <!--    End of footer section-->
</div>
</body>
</html>

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

/* Navigation styles */

.navigation{
    background: #6c757d;
    color: #fff;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.nav-content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

.navigation .nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .menu-items{
    display: inline-flex;
}

.navigation .logo-box a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.menu-items li{
    list-style: none;
}

.menu-items li a{
    color: #fff;
    text-decoration:none;
    padding-left: 25px;
    font-size: 19px;
    font-weight: 500;
    font-family: lato;
    transition: all 0.5s ease;
}

.menu-items li a:hover{
    color: #cea06c;
}

.navigation.sticky{
    background: #343a40;
    padding: 18px 0;
}
/* End of navigation styles */

/* General site styles */

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title{
    color: #343a40;
    font-size: 4rem;
    font-weight: 300px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span{
    color: #cea06c;
}

.cta{
    margin-top: 30px;
    display: inline-block;
    padding: 10px 30px;
    color: #cea06c;
    background: transparent;
    border: 1px solid #cea06c;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover{
    background: #cea06c;
    color: #fff;
}

/* End of general site styles */

/* Styles for hero section */

#hero{
    background: url("https://images.pexels.com/photos/3861972/pexels-photo-3861972.jpeg?cs=srgb&dl=pexels-thisisengineering-3861972.jpg&fm=jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

#hero::after{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #343a40;
    opacity: .6;
    content: '';
}

.hero-content{
  margin-top: 120px;
  margin-bottom: 70px;
}
#hero h1{
    color:#fff;
    font-size:60px;
    line-height:90px;
    font-weight:500;
    text-transform:uppercase;
    margin-bottom:20px
}

#hero p{
    font-size:18px;
    font-weight:300;
    text-transform:uppercase;
    color:#fff
}

#hero .hero{
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 80px;
    font-size: 25px;
}

#hero h4{
    color: #cea06c;
}

#hero .cta{
    font-size: 1.1rem;
    font-weight: 900;
}
/* End of hero section */

/* Styles for about section */

#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}


#about .col-right{
    width: 100%;
}

#about .col-right h2{
    font-size: 2rem;
    font-weight: 300;
    line-spacing: .5rem;
    margin-bottom: 10px;
}

#about .col-right p{
    font-size: 21px;
    line-height: 2rem;
    margin-bottom: 20px;
}

#about .col-right .cta{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* End of about section */

/* Styles for goals section */

#goals .goals{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.goals-heading{
    text-align: center;
    margin-bottom: 30px;
}

.goals-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 20px;
}

.goal{
    flex: 1 0 270px;
    align-self: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    color: #343a40;
    font-size: 18px;
    padding: 30px;
    border-radius: 10px;
}

.goal .goal-icon{
    font-size: 90px;
    color: #cea06c;
    margin-bottom: 15px;
    transition: .5s ease color;
}

.goal .goal-icon:hover{
    color: #343a40;
}

.goal .goal-text h2{
    font-weight: 700;
    color: #cea06c;
    padding: 10px;
    margin-bottom: 15px;
}

.goal .goal-text p{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}

/* End of goals section */

/* Contact info section */
#contacts .contacts{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.contacts-body{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 20px;
}

.contact{
    flex: 1 0 270px;
    align-self: normal;
    color: #000;
    font-size: 18px;
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
     box-shadow: 0px 0px 3px 0 #cea06c;
    transition: .3s ease box-shadow;
}

.contact:hover{
    box-shadow: 0px 0px 10px 0 #cea06c;
}

.contact .icon{
    width: 70px;
    color: #cea06c;
    margin: 0 auto;
    margin-bottom: 10px;
}

.contact .icon i{
    font-size: 60px;
}

.contact .contact-info h1{
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.contact .contact-info h2{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
}

.contact .contact-info a{
    color: #343a40;
}

/* End of Contact info section */

/* Footer section */
#footer{
    background: #343a40;
    margin-top: 50px;
    padding-bottom: 20px;
}

#footer .footer{
    flex-direction: column;
    min-height: 200px;
    padding-top: 50px;
    padding-top: 10px;
}

#footer .brand{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

#footer h2{
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.5rem;
    line-spacing: .5rem;
}

#footer .social-icons{
    display: flex;
    margin: 20px;
}

#footer .social-item i{
    font-size: 30px;
    color: #cea06c;
}

#footer .social-item i{
    filter: grayscale(0);
    transition: .3s ease filter;
}

#footer .social-item:hover i{
    filter: grayscale(1);
}

#footer p{
    color: #fff;
}
/* End of footer section */


const navigation = document.querySelector(".navigation");

window.onscroll = ()=>{
        this.scrollY > 20 ? navigation.classList.add("sticky") : navigation.classList.remove("sticky");
    }


<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block title %} Nsikan Patrick {% endblock %}

{% block content %}

{% load static %}

<div class="main-panel">
    <!-- Hero section -->
    <section id="hero">
        <div class="hero-section" data-parallax="scroll"
             data-image-src="{% static 'images/coding screen - edited.jpg' %}">
            <div class="overlay-bg overlay"></div>
            <img src="">
            <!--		<h1 class="site-name">Netaleads</h1>-->
            <div class="container">
                <div class="row fullscreen">
                    <div class="hero-content col-lg-12">
                        <div class="col-md-12">
                            <h3>Hi there,</h3>
                            <h1>My name is <br>
                                Nsikan Patrick</h1>
                           <p> I love building things that help people gain access to information through
                the internet. I also love simplifying complex systems and making them friendly
                    and accessible to all.</p>
                            <a href="#projects" class="cta" type="button">Portfolio</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="hero-social">
                <div class="d-flex meta-left no-padding">
                    <a href="#"><span class="fa fa-facebook-f"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-instagram"></span></a>
                </div>
            </div>
        </div>
    </section>

    <!-- End of hero section -->

    <!--	Start about section-->
    <section id="about" class="section-gap">
        <div class="about container">
            <div class="col-left">
                <div class="about-img">
                    <img src="{% static 'images/Me2.jpg' %}">
                </div>
            </div>
            <div class="col-right">
                <h1 class="section-title">About <span>Me</span></h1>
                <h2>Fullstack web developer</h2>
                <p>My name is Nsikan Patrick and i'm passionate about building things that make people's lives
                easier and better. I started my journey into web development and programming way back in 2014 while
                    still in the University. Ever since then, i've worked with several startups and businesses
                to help build experiences that translate to leads; and i've done that passionately.
                I am currently doing this as a freelancer and i'm also open for new positions in the web development
                industry.
                When i'm not working, i love listening to music, surf the internet and learn to play the guitar.</p>
                <a href="{% url 'resume' %}" class="cta">Download resume</a>
            </div>
        </div>
    </section>
    <!-- End About Area -->

    <!--Hire area-->
    <section id="features-area">

        <div class="features">
            <h1 class="section-title">Why hire <span>Me</span></h1>
            <div class="container">

                <div class="row feature-items">

                    <div class="col-lg-3 col-md-6">
                        <div class="feature">
                            <i class="fa fa-shopping-cart fa-2x"></i>
                            <h4>Creative Design</h4>
                            <p>Hac facilisi ac vitae consec tetu commodo vel magna suspendisse on senectus pharetra
                                magnfauc </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="feature">
                            <i class="fa fa-code fa-2x"></i>
                            <h4>Experienced Style</h4>
                            <p>Hac facilisi ac vitae consec tetu commodo vel magna suspendisse on senectus pharetra
                                magnfauc </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="feature">
                            <i class="fa fa-desktop fa-2x"></i>
                            <h4>Product Research</h4>
                            <p>Hac facilisi ac vitae consec tetu commodo vel magna suspendisse on senectus pharetra
                                magnfauc </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="feature">
                            <i class="fa fa-check fa-2x"></i>
                            <!--						<i class="fi flaticon-beach"></i>-->
                            <h4>Affordable Price</h4>
                            <p>Hac facilisi ac vitae consec tetu commodo vel magna suspendisse on senectus pharetra
                                magnfauc </p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#263a4e" fill-opacity="1"
              d="M0,0L48,26.7C96,53,192,107,288,112C384,117,480,75,576,53.3C672,32,768,32,864,32C960,32,1056,32,1152,48C1248,64,1344,96,1392,112L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
    </svg>
    <!--end of why us section-->
<!-- Start portfolio Area -->
<section class="section-gap">
    <div class="portfolio-area">
        <h1 class="section-title">Recent <span>Projects</span></h1>
        <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 about-left portfolio-stack" style="width: 18rem;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'streamone/img/about-main.jpg' alt='' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Project</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="text-center"><a href="#" class="btn my-btn">Visit site</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 about-left portfolio-stack" style="width: 18rem;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'streamone/img/about-main.jpg' alt='' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Project</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="text-center"><a href="#" class="btn my-btn">Visit site</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 about-left portfolio-stack" style="width: 18rem;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'streamone/img/about-main.jpg' alt='' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Project</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="text-center"><a href="#" class="btn my-btn">Visit site</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 about-left portfolio-stack" style="width: 18rem;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'streamone/img/about-main.jpg' alt='' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Project</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="text-center"><a href="#" class="btn my-btn">Visit site</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 about-left portfolio-stack" style="width: 18rem;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'streamone/img/about-main.jpg' alt='' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Project</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="text-center"><a href="#" class="btn my-btn">Visit site</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 about-left portfolio-stack" style="width: 18rem;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'streamone/img/about-main.jpg' alt='' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Project</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="text-center"><a href="#" class="btn my-btn">Visit site</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">


        </div>
        </div>
    </div>
</section>
<!-- End portfolio Area -->
</div>


{% endblock %}






@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.section-title{
    color: #343a40;
    font-size: 4rem;
    font-weight: 300px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span{
    color: #cea06c;
}

/* General site styles */

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta{
    margin-top: 30px;
    display: inline-block;
    padding: 10px 30px;
    color: #cea06c;
    background: transparent;
    border: 1px solid #cea06c;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: .4s ease;
    transition-property: background-color, color;
}

.cta:hover{
    background: #cea06c;
    color: #fff;
}

/* End of general site styles */


/* Threestreams */

/* Hero section */

.hero-section{
    position: relative;
}

.hero-section::after{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: #050a34;
    opacity: 0.6;
    content: '';
}

.hero-section .site-name{
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    transform:rotate(-90deg);
    position:absolute;
    top:24%;
    left:-1%;
    font-size:150px;
    font-weight:700;
    text-transform:uppercase;
    color:rgba(255,255,255,0.05)
    }

@media (max-width: 767px){
    .hero-section .template-name{
        display:none
        }
    }

.hero-section .fullscreen{
    height:900px
    }

@media (max-width: 1199.98px){
    .hero-section .fullscreen{
        height:700px
        }
    }

.hero-section .overlay{
    background: #050a34;
    opacity: 0.6;
    }

.hero-section .hero-content{
    margin-top:17%
    }

@media (max-width: 991px){
    .hero-section .hero-content{
        margin-top:37%;text-align:center
        }
    }

@media (max-width: 767px){
    .hero-section .hero-content{
        margin-top:50%;text-align:center
        }
    }

.hero-section .hero-content h1{
    color:#fff;
    font-size:80px;
    line-height:90px;
    font-weight:500;
    text-transform:uppercase;
    margin-bottom:20px
    }

@media (max-width: 991.98px){
    .hero-section .hero-content h1{
        font-size:45px;line-height:60px
        }
    }

@media (max-width: 991.98px){
    .hero-section .hero-content h1 br{
        display:none
        }
    }

@media (max-width: 414px){
    .hero-section .hero-content h1{
        font-size:30px;
        line-height:40px
        }
    }

.hero-section .hero-content h3{
    color: #cea06c;
}

.hero-section .hero-content p{
    font-size:18px;
    font-weight:400;
    line-height: 2rem;
    text-transform:uppercase;
    color:#fff
    }

.hero-section .hero-content .primary-btn{
    border:1px solid #fff;
    color:#fff;
    margin-top:20px
    }

.hero-section .hero-content .primary-btn:hover{
    border:1px solid #e3735e;
    }
/*
.banner-area{
    background:url(../img/random4.jpg) no-repeat;
    background-size:cover;
    border-radius: 0 0 150px;
    }

.banner-area .overlay-bg{
    background:rgba(7,4,31,0.6);
    border-radius: 0 0 150px;
    }

@media (max-width: 720px){
    .banner-area, .overlay-bg, .banner-area .overlay-bg{
        border-radius: 0 0 70px;
        }
    }

@media (max-width: 720px){
    .callto-area .overlay-bg, .hero-section .overlay-bg{
        border-radius: 0 0 0;
        }
    }

.banner-area h1{
    font-size:50px;
    margin-bottom:10px
    }

@media (max-width: 768px){
    .banner-area h1{
        font-size:35px
        }
    }

.banner-area p{
    margin-bottom:0px;
    color:#fff
    }*/

.hero-social{
    position:absolute;
    bottom:50px;
    left:50px;
    color:#fff
    }

@media (max-width: 991px){
    .hero-social{
        left:50%;
        -webkit-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
        -ms-transform:translateX(-50%);
        -o-transform:translateX(-50%);
        transform:translateX(-50%)
        }
    }

.hero-social .meta-left a{
    margin-right:20px;
    color:#fff;
    cursor:pointer;
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s
    }

.hero-social .meta-left a:hover{
    color:#e3735e;
    }

@media (max-width: 767px){
    .hero-social .flex-row{
    flex-direction:column !important
    }

.hero-social .d-flex{
    display:block !important
    }
}

/* End of hero section */

/* Styles for about section column-reverse */

#about .about{
    flex-direction: row;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

@media (max-width: 868px){
    #about .about{
    flex-direction: column-reverse;
    }
}

#about .col-left{
    height: 350px;
    width: 250px;
}

#about .col-right{
    width: 100%;
}

#about .col-right h2{
    font-size: 2rem;
    font-weight: 300;
    line-spacing: .5rem;
    margin-bottom: 10px;
}

#about .col-right p{
    font-size: 21px;
    line-height: 2rem;
    padding-left: 15px;
    margin-bottom: 20px;
}

#about .col-right .cta{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

#about .col-left .about-img{
    position: relative;
    height: 100%;
    width: 100%;
    border: 10px solid #fff;
    z-index: 1;
}

#about .col-left .about-img::after{
   position: absolute;
   content: '';
   border: 4px solid #cea06c;
   border-radius: 10px;
   height: 90%;
   width: 90%;
   top: 29px;
   left: -33px;
   z-index: -1;
}

#about .col-left .about-img img{
   border-radius: 10px;
}

/* End of about section */

/* Features area */

.feature-items{
    margin-top: -50px;
}

@media (max-width: 991px){
    .feature-items{
        margin-top: 70px;
        }
    }

.feature{
    padding:0px 17px;
    text-align:center;
    margin-bottom:50px
    }

.feature i{
    margin-bottom:35px;
    font-size:65px;
    border:1px solid #9499a5;
    border-radius: 100px;
    padding:36px 41px;
    display:inline-block;
    color:#fff;
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s
    }

@media (max-width: 767px){
    .feature i{
        margin-bottom:20px
        }
    }

.features h1.section-title{
    color: #fff;
    padding-top: 9%;
}

@media (max-width: 767px){
    .features h1.section-title{
    padding-top: 14%;
    }
}

.feature h4{
    font-size:20px;
    margin-bottom:15px;
    text-transform:capitalize;
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s
    }

.feature p{
    margin-bottom:0px
    }

.feature:hover i{
    border:1px solid #cea06c;
    }

.feature:hover h4{
    color: #cea06c;
    }

/* end of features area */

/* why us*/
.features{
    background: #263a4e;
    color: #fff;
}
.features h2, .features a{
    color: #fff;
}
/* end of why us */
/* end of threestreams */

/* Navigation styles */

.navigation{
    background: transparent;
    color: #fff;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.nav-content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

.navigation .nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .menu-items{
    display: inline-flex;
}

.navigation .logo-box a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.menu-items li{
    list-style: none;
}

.menu-items li a{
    color: #fff;
    text-decoration:none;
    padding-left: 25px;
    font-size: 19px;
    font-weight: 500;
    font-family: lato;
    transition: all 0.5s ease;
}

.menu-items li a:hover{
    color: #cea06c;
}

.icn{
    color: #fff;
    font-size:20px;
    cursor: pointer;
    display: none;
}

.icn.btn-cancel{
    position:absolute;
    right: 30px;
    top: 20px;
}

.navigation.sticky{
    /*background-image: linear-gradient(-10deg, #000 0%, #343a40 120% );*/
    background: #263a4e;
    padding: 18px 0;
}
/* End of navigation styles */

/* General site styles */

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta{
    margin-top: 30px;
    display: inline-block;
    padding: 10px 30px;
    color: #cea06c;
    background: transparent;
    border: 1px solid #cea06c;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: .4s ease;
    transition-property: background-color, color;
}

.cta:hover{
    background: #cea06c;
    color: #fff;
}

/* End of general site styles */


/* Styles for services section */

#services .services{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.services-heading{
    text-align: center;
    margin-bottom: 30px;
}

.services-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 20px;
}

.service{
    flex: 1 0 270px;
    align-self: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    color: #343a40;
    font-size: 18px;
    padding: 30px;
    border-radius: 10px;
}

.service .service-icon{
    font-size: 90px;
    color: #cea06c;
    margin-bottom: 15px;
    transition: .5s ease color;
}

.service .service-icon:hover{
    color: #343a40;
}

.service .service-text h2{
    font-weight: 700;
    color: #cea06c;
    padding: 10px;
    margin-bottom: 15px;
}

.service .service-text p{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}

/* End of services section */

/* Projects section */

#portfolio{
    margin-top: -80px;
}

.portfolio-area h1{
    font-size: 50px;
    margin-bottom: 80px;
}

.portfolio-stack{
    margin-bottom: 30px;
}

@media(max-width: 991px){
    #portfolio{
        margin-top: 10px;
        }
}

/* End of projects section */

/* Contact info section */
#contacts .contacts{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.contacts-body{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 20px;
}

.contact{
    flex: 1 0 270px;
    align-self: normal;
    color: #000;
    font-size: 18px;
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
     box-shadow: 0px 0px 3px 0 #cea06c;
    transition: .3s ease box-shadow;
}

.contact:hover{
    box-shadow: 0px 0px 10px 0 #cea06c;
}


.contact .icon{
    width: 70px;
    color: #cea06c;
    margin: 0 auto;
    margin-bottom: 10px;
}

.contact .icon i{
    font-size: 60px;
}

.contact .contact-info h1{
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.contact .contact-info h2{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
}

.contact .contact-info a{
    color: #343a40;
}

/* End of Contact info section */

/* Footer section */
#footer{
    /* background-image: linear-gradient(-10deg, #000 0%, #20b2aa 120% );*/
    background: #343a40;
    margin-top: 50px;
    padding-bottom: 20px;
}

#footer .footer{
    flex-direction: column;
    min-height: 200px;
    padding-top: 50px;
    padding-top: 10px;
}

#footer .brand{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

#footer h2{
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.5rem;
    line-spacing: .5rem;
}

#footer .social-icons{
    display: flex;
    margin: 20px;
}

#footer .social-item i{
    font-size: 30px;
    color: #cea06c;
}

#footer .social-item i{
    filter: grayscale(0);
    transition: .3s ease filter;
}

#footer .social-item:hover i{
    filter: grayscale(1);
}

#footer p{
    color: #fff;
}
/* End of footer section */


/* Media queries */

/* Navigational menu queries */

@media (max-width: 868px){
    body.disabledScroll{
    overflow: hidden;
    }

    .icn{
        display: block;
    }

    .icn.hide{
        display: none;
    }

    .navigation .menu-items{
        position: fixed;
        top: 0;
        left: -100%;
        /* Take note of the left, was initially 0, the -100% takes away the mobile menu */
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background-image: linear-gradient(-90deg, #263a4e 0%, #050a34 120% );
        opacity: 0.95;
        display: block;
        padding: 40px 0;
        margin-top: 0;
        text-align: center;
        transition: all 0.7s ease;
    }

    .navigation .menu-items.active{
        left: 0%;
    }
    .navigation .menu-items li{
       margin-top: 45px;

    }
    .navigation .menu-items li a{
        font-size: 23px;

    }
    .menu-items li a:hover{
    color: #cea06c;
    padding: 10px 5px;
    }
}

/* End of navigational menu queries */

/* Service section */

#services .services{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
}

#services .services-body{
    display: flex;
    flex-direction: row;
    margin: 0;
}

#services .service-item{
    flex-basis: 45%;
    margin: 2.5%;
}

    /*#services .services-body .service-item{
        /*flex-direction: row;
        /*background: red;
        flex-basis: 45%;
        margin: 2.5%;
    }*/

/* End of service section */

/* Contact section */

#contact .contact{
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
}

#contact .contact-items{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 10px;
    margin: 0;
}

#contact .contact-item{
    margin: 20px;
}
/* End of contact section */

}
/* End of tablet Media query */





/* Media query for mobile devices */
@media (max-width: 480px){
/* your styles here */

}
/* End of mobile devices media query */


/* Media query for low resolution tablets */
@media (min-width: 481px) and (max-width: 767px){
/* your styles here */
    /*.navigation.sticky{background: red;}*/
    .project-img{display: none;}
    #projects .project-info:nth-child(odd){
        background: url("../images/hero-bg.jpg") no-repeat;
    }

}
/* End of low resolution media query */
/* Media query for high resolution tablets and laptops */
@media (min-width: 768px) and (max-width: 1024px) {
/* your styles here */
}
/* End of low resolution media query */

/* Media query for desktops */
@media (min-width: 1025px) {
/* your styles here */
}
/* End of low resolution media query */

/* Media query for tablet */
@media only screen and (min-width: 768px){
/* Hero */
    #hero h1{
        font-size: 4rem;
    }
/* Hero */

